@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,200; 1,400 & display = swap'); 

*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color:#F5FFFA;
    color:#363636;
    font-family: 'Poppins' , sans-serif;
}

.container{
    align-items: center;
    width: 350px;
    height: max-content;
    background-color: #F0FFFF	 ;
    text-align: center;
    margin: auto;
    padding: 20px 15px;
    margin-top: 120px;
    border: solid;
    border-radius: 12px 12px 12px 12px;
    border-color: #363636;
}

.login-form-group{
    padding: 2px;
}

.form-field{
    border-radius: 4px 4px 4px 4px;
    border-color: #363636;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.button{
    width: 80px;
    height: 25px;
    border-radius: 4px 4px 4px 4px;
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #87CEFA;
}

.separator{
    border-bottom:solid;
    border-color: #363636;
    padding: 10px;
    margin-bottom: 10px;
}